@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,300;1,300&display=swap');

body {
    background-image: url("../css/images/building.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* navbar starts */
.navbar {
    background-color: black;
    opacity: 0.9;
}

.navbar-toggler {
    background-color: green;
}

.navbar-nav li a {
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-left: 2px;
}

.navbar-nav li a:hover {
    background: linear-gradient(green, black);
    border-radius: 4px;
    font-size: 26px;

}

.navbar .current {
    background: linear-gradient(black, red);
    border-radius: 2px;
}

/* navbar ends */

/* form starts */
h2 {
    text-decoration: underline;
    color: rgb(105, 26, 209);
    color: cyan;
    font-weight: bold;
}

form {
    background: rgba(0, 0, 0, 0.6);
    color: cyan;
    margin: auto;
    max-width: 370px;
    /* border: 3px solid #37c294; */
    border: 2px solid purple;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    font-family: 'Texturina',
        serif;
    /* box-shadow: 2px 2px 5px rgb(40, 150, 7); */
}

form:hover {
    box-shadow: 4px 5px 10px cyan;
    border: none;
}

label {
    margin-left: 20px;
}

input[type=text],
input[type=email] {
    background: black;
    width: 300px;
    padding: 8px 7px;
    margin: 8px 0;
    margin-left: 20px;
    box-sizing: border-box;
    border: 3px solid rgb(14, 228, 68);
    border-radius: 8px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus {
    background-color: black;
    border: 2px solid maroon;
    outline: none;
    box-shadow: none;
    color: white;
}

input[type=checkbox] {
    margin-left: 20px;
}

label[for=agree] {
    margin-left: 0;
}

button[type=submit] {
    border: 2px solid cyan;
    color: cyan;
    padding: 5px 5px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: cyan;
    color: black;
    font-weight: bolder;
    border-radius: 7px;
}

.modal-content {
    color: black;
    font-family: Georgia,
        serif;
}

/* form ends */

/* footer starts */
.panel-footer {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: black;
    opacity: 0.9;
    color: white;
    font-family: "Comic Sans MS",
        cursive,
        sans-serif;
    font-family: Tahoma,
        Geneva,
        sans-serif;
}

#hours {
    font-size: 23px;
}

#hours span {
    font-size: 30px;
}

#address {
    font-size: 23px;
}

#address span {
    font-size: 30px;
}

#map {
    font-size: 23px;
}

#map span {
    font-size: 30px;
}

.text-center {
    font-size: 25px;
}

/* footer ends */

/********** Extra small devices only **********/
@media (max-width: 767px) {
    body {
        background-image: none;
        /* background: linear-gradient(orangered, gold); */
        background: linear-gradient(greenyellow, cyan);
    }

    form {
        background: rgba(0, 0, 0, 1);
    }
    
    form:hover {
        box-shadow: 4px 5px 10px orange;
    }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

    input[type=text],
    input[type=email] {
        width: 270px;
    }

    body {
        background-image: none;
        /* background: linear-gradient(orangered, gold); */
        background: linear-gradient(greenyellow, cyan);
    }

    form {
        background: rgba(0, 0, 0, 1);
    }
    
    form:hover {
        box-shadow: 4px 5px 10px orange;
    }
}
